<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>European Weather Data API</title>
</head>

<body>
    <div>
        <h1>European Weather Data API</h1>
        <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
        <p>URL - results by station and date: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
        <p>URL - results by station and year: http://127.0.0.1:5000/api/v1/10/1988</p>
        <p>URL - results by station: http://127.0.0.1:5000/api/v1/10</p>
    </div>
    <br>
    <div>
        {{data|safe}}
    </div>
</body>
</html>